/* -----------------------------------------------------------------------
  Table of Contents

  1. General Setup
    1.1 Global Variables
    1.2 HTML
    1.3 Utility Classes
    1.4 Headers
    1.5 Buttons
    1.6 Links
    1.7 Images
    1.8 Lists
    1.9 Forms

  2. Header

  3. Main

  4. Footer

  Appendix

  A. Main Navigation
  B. Banner

  -----------------------------------------------------------------------*/

/*-----------------------------------------------------------------------
  1. General Setup
 */

/* 1.1 Global Variables */
:root {

  /* Font Families */
  
  --monoFF: 'Source Code Pro', 'Lucida Sans Unicode', monospace;
  --typeFF: 'Trirong', serif;

  /* Colours */
  --magMain: #cf1591;
  --magDark: #990066;
  --tanMain: #ffc963;
  --tanDark: #ffd890;
  --tanMinus90: #fff4df;
  --greenMain: #16bf00;
  --blueMain: #0a60cf;
}

/* 1.2 HTML */
html {
  box-sizing:border-box;
  height: 3025px;
}

*, *::before, *::after {
  box-sizing:inherit;
}

body {
  margin: 0 auto; /* remove gap around body perimeter */
  max-width: 1200px;
  height: 100%;
}

header {
  margin-top: -3025px;
}

.backgroundDiv {
  padding-bottom: 20px;
}

/* 1.3 Utility Classes */
.hidden {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
}

.background {
  background-image:url(../images/DesktopTris.png);
  background-repeat: no-repeat;
  background-color: var( --magMain );
  max-width: 1200px;
  height: 100%
}

a:link {
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}


.accent {
  font-family: var( --monoFF );
  font-weight: bold;
}

.darkMag {
  color: var( --magDark );
}

.darkTan {
  color: var( --tanDark );
}

.headerName {
  font-family: var( --typeFF );
  font-style: bold;
}


/* ---------------------------------------------------------------------
    Header
  ---------------------------------------------------------------------- */
.menuBar {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  font-family: var( --monoFF );
}

.menuBar .imageDiv {
  margin: 25px 0 25px 5%;
}

.menuBar .logo {
  height: 112px;
}

.menuBar .menu {
  display: flex;
  align-items: center;
  justify-self: flex-end;

  font-size: 40px;
  font-weight: bold;
  margin-right: 5%;
}

.separatorBlue {
  height: 20px;
  background-color: var( --blueMain );
}

.separatorGreen {
  height: 10px;
  background-color: var( --greenMain );
}

/* ---------------------------------------------------------------------
    Banner
  ---------------------------------------------------------------------- */
.banner {
  margin: 50px 0 0 10%;
} 

/* Color, weight, spacing of text in main nav. */
.banner span {
  color: white;
  font-weight: bold;
}

.banner .darkMag {
  font-family: var( --monoFF ); 
  color: var( --magDark );
}

.banner h1 {
  font-size: 72px;
  line-height: 72px;
  margin: 0;
  text-transform: uppercase;
}

.banner h1 .accent {
  font-size: 60px;
}

nav {
  display: flex;
  flex-flow: column;
  font: bold 48px var( --monoFF ); 
}

nav .function {
  margin-left: 5%;
}

/* ---------------------------------------------------------------------
    Main
  ---------------------------------------------------------------------- */
main h3 {
  margin: 0;
}

main nav {
  font-size: 36px;
  width: 35%;
}

section .function {
  margin-left: 20%;
}

.sectionHeader {
  font-size: 60px;
  line-height: 0;
}

.sectionHeader .accent {
  font-size: 48px;
}

.navRight {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
}

.navRight .sectionHeader {
  color: black;
}

.navRight .function {
  color: black;
}

.navLeft {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
}

.navLeft .sectionHeader {
  color: white;
}

.navLeft .function {
  color: white;
}

.navLeft nav {
  padding-left: 10%;
  padding-top: 20px;
}

.contentNavDivider {
  width: 10%;
}

.content {
  font: 32px/40px var( --typeFF );
  margin-top: 40px;
  width: 55%;
}

.navRight .content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* ---------------------------------------------------------------------
    Sections  
  ---------------------------------------------------------------------- */
#codeSection {
  margin-top: 20px;
}

#solveSection {
  margin-top: 125px;
}

#playSection {
  margin-top: 165px;
}

#bioSection {
  margin-top: 100px;
}

.bio {
  font: 32px/40px var( --typeFF );
  max-width: 30%;
  margin: 0 10%;
}

.bioDiv {  
  display: flex;
  flex-direction: row;
}

.p {
  padding: 20px 0;
}

.headshotDiv img {
  height: 200px;
  margin-top: 40%;
}


#contactSection {
  margin-top: 250px;
}

.contact {
  padding-left: 10%;
}

.contact form {
  font: bold 30px var( --monoFF ); 
  padding-top: 20px;
}

.contact .prop {
  padding-left: 5%;
}

input {
  background-color: fff4df;
  border: none;
  font: bold 30px var( --monoFF ); 
  padding: 5px;
  margin: 5px 0;
}

#nameInput {
  width: 70%;
}

#emailInput {
  width: 68.4%;
}

.messageDiv * {
  vertical-align: top;
}

#messageInput {
  background-color: fff4df;
  border: none;
  font: bold 24px var( --monoFF ); 
  padding: 5px;
  margin: 5px 0;
  width: 65%;
  display: inline;
}

.messageAccent {
  margin-left: -18px;
  padding-top: 120px;
}

footer {
  margin-top: 20px;
}

/* ---------------------------------------------------------------------
    max-width: 1090px
  ---------------------------------------------------------------------- */
@media only screen and (max-width: 1090px) {
  #contactSection {
    margin-top: 210px;
  }

  .navRight nav {
    padding-left: 50px;
  }
}

/* ---------------------------------------------------------------------
    max-width: 895px
  ---------------------------------------------------------------------- */
  @media only screen and (max-width: 895px) {
  #contactSection {
    margin-top: 160px;
  }

  footer {
    margin-top: 30px;
  }
  
  .navRight nav {
    padding-left: 50px;
  }

}

/* ---------------------------------------------------------------------
    max-width: 768px
  ---------------------------------------------------------------------- */
  @media only screen and (max-width: 768px) {

  html {
    height: 2020px;
  }

  header {
    margin-top: -2020px;
  }
  
  .background {
    background-image:url(../images/TabletTris.png);
  }  

  /* Header */
  .menuBar .imageDiv {
    margin: 12px 15px;
  }  

  .menuBar .logo {
    height: 60px;
  }

  .menuBar .menu {
    font-size: 24px;
    margin-right: 3%;
  }

  .separatorBlue {
    height: 12px;
  }
  
  .separatorGreen {
    height: 6px;
  }

  /* Banner */
  .banner {
    margin: 30px 0 0 10%;
  } 
  
  .banner h1 {
    font-size: 40px;
    line-height: 40px;
  }
  
  .banner h1 .accent {
    font-size: 36px;
  }
  
  nav {
    font-size: 28px; 
  }

  /* Main */
  main nav {
    font-size: 26px;
  }
  
  .sectionHeader {
    font-size: 36px;
  }
  
  .sectionHeader .accent {
    font-size: 32px;
  }
  
  .content {
    font: 26px/30px var( --typeFF );
  }

  /* Sections */
  #codeSection {
    margin-top: 10px;
  }

  #solveSection {
    margin-top: 70px;
  }

  #playSection {
    margin-top: 100px;
  }

  #bioSection {
    margin-top: 30px;
  }

  .bio {
    font: 26px/30px var( --typeFF );
  }

  .headshotDiv img {
    height: 150px;
    margin-top: 50%;
  }
  
  #contactSection {
    margin-top: 150px;
  }
  
  .contact form {
    font-size: 26px; 
    padding-top: 10px;
  }

  input {
    font-size: 26px; 
  }

  #nameInput {
    width: 72%;
  }
  
  #emailInput {
    width: 69.5%;
  }
    
  #messageInput {
    font-size: 20px; 
    height: 4em;
  }
}

/* ---------------------------------------------------------------------
    max-width: 320px
  ---------------------------------------------------------------------- */
  @media only screen and (max-width: 320) {
  }
  